/* navbar starts */

@media screen and (min-width:300px) and (max-width:576px) {    
    .nav-son1{
        font-size: 40px;
    }
    .nav-son3{
        display: block;
        margin: 15px 20px;
        color: rgb(255, 255, 255);
    }
    .nav-son1{
        margin: 0px 20px;
    }
    .nav-son2{
        display: none;
    }
/* navbar ends */

/* banner starts */
    .banner-main{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .cd1-head{
        font-size: 25px;
        padding: 0px 30px 0px 0px;
    }
    .cd1-d{
        padding:0px;
        padding-right: 5px;
        font-size: 10px;
    }
    .bn-head{
        font-size: 40px;
        line-height: 120%;
    }
    .bn-p{
        font-size: 10px;;
    }
    .banner-span{
        font-size: 77px;
    }
    #bn-son1{
        margin: 6px;
        padding: 15px;
        line-height: 100%;
    }
    .bn-son{
        margin: 0% auto;
        width: 80%;

    }
    .bn-son img{
        width: 100%;
        margin: 0px 10px;
    }
    .img-card2{
        position: absolute;
        bottom: 41%;
        left: 0%;
        width: 150px;
        height: 70px;
    }
    .card-box{
        border: 16px solid rgb(230, 83, 60);
        margin: 20px 2px 20px auto;
        border-radius: 50%;
    }
    .play-icon{
        position: absolute;
        top: 51%;
        left: 8%;
        
    }
    .img-card1{
        position: absolute;
        top: 10%;
        left: 60%;
        width: 140px;
        height: 75px;
    }
    .button-class-2{
        display: block;
        margin: 0px auto;
        
    }
    .button-class{
        display: none;
    }
    .bn-btn1 {
        padding: 15px 30px;
        font-size: 18px;
    }
    .bn-btn2 {
        padding: 15px 25px;
        font-size: 18px;
    }
/* banner ends */
/* Change Your Habits part starts */

    .section-container{
        flex-direction: column;
        margin: 30px auto 0px;
    }
    .section-d{
        margin: 0px 11px;
    }
    .section-head{
        padding-top: 10px;
    }
    .section-son1 , .section-son2 , .section-son3 , .section-son4 {
        width: 100%;
        
    }
    /* Change Your Habits part ends */
/* team part starts */
.team-container{
    width: 80%;
    justify-content: center;
    align-items: center;
}
.team-son1 , .team-son2 {
    flex-direction: column;
}
.team-son1 > img ,.team-son2 > img {
    width: 100%;
}
#img-team{
    padding-right: 15px;
}
.trainer-1{
    position: absolute;
    left: 10%;
    top: 14%;
}
.trainer-2{
    position: absolute;
    top:30%;
    left: 10%;
}
.trainer-3{
    position: absolute;
    top: 48%;
    left: 10%;
}
.trainer-4{
    position: absolute;
    top: 60%;
    left: 10%;
}
.trainer-5{
    position: absolute;
    top: 79%;
    left: 10%;
}
.trainer-6{
    position: absolute;
    top: 96%;
    left: 10%;
}
/* team part ends */
/* second banner part stars */
.second-banner{
    flex-direction: column;
    margin: 0px 30px;
    justify-content: center;
    align-items: center;
}
.sb-son2{
    width: 100%;
    padding: 20px auto;
    padding-top: 0px;
}
.sb-button-container{
    margin-left: 15px;
}
.sb-button{
    padding: 10px 88px;
    font-size: 14px;
}
.sb-head{
    font-size: 30px;
}
.sb-d{
    padding-bottom: 25px;
    font-size: 12px;
}
.sb-son1 {
    width: 100%;
    padding: 20px 20px 0px 20px;
}
.sb-img-container{
    margin: 0px auto;
    width: 240px;
    height: 220px;
    border-radius: 10px;
}
.sb-img{
    margin: 32px 0px;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
/* second banner part ends */

/* calculator part starts */

.cal-son{
    flex-direction: column;
    margin: 0px;
}
.cal-son2{
    margin: 0px;
    margin-left: 10px;
}
.calculator-head{
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    margin-left: 15px;
    text-align: left;
}
.calculator-d{
    padding: 0px;
    text-align: left;
    margin: 0px;
    font-size: 9px;
    margin-left: 15px;
}
#Age , #Height , #Weight{
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0px 8px 5px;
    font-size: 12px;
}
#Sex{
    font-size: 12px;
    padding: 8px 118px 8px 5px;
}
#Select{
    font-size: 12px;
    padding: 8px 175px 8px 5px;
}
.calculate-btn{
    padding: 16px 75px;
    font-size: 18px;
}
/* calculator part ends */

/* footer starts */
    .footer-first-class{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        margin: 0px auto;
    }
    .ft-son2 , .ft-son3 , .ft-son1{
        width: 100%;
        text-align: left;
    }
    .ft-son2 , .ft-son3 , .ft-son1{
        margin: 0px 5%;
    }
    .footer-last-class{
        text-align: left;
    }
    .footer-last{
        margin: 8% 18px;
    }
    .footer-son2{
        padding-top: 0%;
        padding-bottom: 12%;
    }
/* footer ends */

}