/* navbar starts */

@media screen and (max-width:576px) {
    .nav-son3{
        display: block;
        margin: 15px 20px;
        color: rgb(255, 255, 255);
    }
    .nav-son1{
        margin: 0px 20px;
    }
    .nav-son2{
        display: none;
    }
}
/* navbar ends */

/* banner starts */
@media screen and (max-width:576px) {
    .banner-main{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #bn-son1{
        margin: 6px;
        padding: 15px;
        line-height: 100%;
    }
    .bn-son{
        margin: 0% auto;
        width: 80%;

    }
    .bn-son img{
        width: 100%;
    }
    .img-card2{
        position: absolute;
        bottom: 40%;
        left: 4%;
        width: 180;
        height: 85px;
    }
    .play-icon{
        position: absolute;
        top: 50%;
        left: 15%;
        
    }
    .img-card1{
        position: absolute;
        top: 10%;
        left: 55%;
        width: 145px;
        height: 75px;
    }
    .button-class{
        display: flex;
        width: 300px;
        height: 50px;
    }
    .bn-btn2 , .bn-btn1 {
        padding: 2px 16px;
        font-size: 15px;
    }
/* banner ends */
/* Change Your Habits part starts */

    .section-container{
        flex-direction: column;
        margin: 30px auto ;
    }
    .section-d{
        margin: 0px 11px;
    }
    .section-head{
        padding-top: 10px;
    }
    .section-son1 , .section-son2 , .section-son3 , .section-son4 {
        width: 100%;
        
    }
    /* Change Your Habits part ends */

/* footer starts */
    .footer-first-class{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        margin: 0px 20px;
    }
    .ft-son2 , .ft-son3 , .ft-son1{
        width: 100%;
        text-align: left;
    }
    .footer-last-class{
        text-align: left;
    }
    .footer-last{
        margin: 20px 18px;
    }
/* footer ends */