@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');               

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

/* navbar starts */
}
.navbar-main{
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 50px;
    
}
.nav-son1{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    text-align: left;
}
.btn1{
    border: 1px solid rgb(230, 83, 60);
    background: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 8px 20px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}
.nav-itm{
    margin-left: 45px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}
.nav-son3{
    display: none;
}
/* navbar ends */

/* banner starts */
.first-bg{
    background: linear-gradient(180deg,rgb(17, 17, 17),rgba(119, 119, 119, 0.9)50%,rgb(17,17, 17));
}
.banner-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}
#bn-son1{
    margin-left: 95px;
    margin-top: 90px;
}
.bn-head{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    line-height: 110%;
    text-align: left;
}
.banner-span{
    font-family: 'Miama', sans-serif;
    font-size: 130px; 
    font-weight: 400;                          
}
.bn-p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin: 25px 0px;
}
.button-class{
    display: inline;
    margin-right: 75px;
}
.bn-btn1{
    border-radius: 42px;
    padding: 12px 30px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin-right: 15px;
}
.bn-btn2{
    border: 1px solid rgb(255, 255, 255);
    background: none;
    border-radius: 42px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 30px;
}
.bn-son{
    width: 40%;
}
.bn-son2{
    position: relative;
}
.bn-son img{
    width: 65%;
}
.img-card1{
    position: absolute;
    top: 25%;
    left: 59%;
    padding: 10px 0px 9px 18px;
    width: 160px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}
.cd1-head{color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    padding-right: 40px;
}
.cd1-d{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 9px;
    font-weight: 400;
    padding-right: 18px;
}
.play-icon{
    color: rgb(250, 250, 249);
    position: absolute;
    top: 60%;
    left: 3%;
}
.img-card2{
    position: absolute;
    bottom: 3%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 160px;
    height: 74px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cd2-head{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 25px 20px 8px;
}
.cd2-d{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 9px;
    font-weight: 400;
}
.card-box{
    border: 20px solid rgb(230, 83, 60);
    margin: 15px auto;
    border-radius: 50%;
}
/* banner ends */
/* Change Your Habits part starts */
.section-main{
    background: rgb(17, 17, 17);
}
.section-head{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    line-height: 120%;
    text-align: center;
    padding: 85px 0px 10px 0px;
}
.section-d{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 0px 0px 10px;
}
.section-son1 , .section-son2 , .section-son3 , .section-son4 {
    width: 25%;

}
.son-1-img , .son-2-img , .son-3-img ,.son-4-img{
    border: 1px solid ;
    border-radius: 50%;
}
.section-container{
    display: flex;
    margin: 30px 150px 0px 150px;
    text-align: center;
    gap: 40px;
}
.son-h1 , .son-h2 , .son-h3 , .son-h4{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500;
}
.son-p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 85px;
    font-weight: 400;
}
/* second banner part stars */
.bg-main{
    background-color: rgb(17, 17, 17);
    padding-bottom: 60px;
}
.sb-button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    padding: 10px 40px;
    text-align: center;
    border-radius: 36px;
    border: none;
    background: rgb(230, 83, 60);
}
.sb-d{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-bottom: 34px;
}
.second-banner{
    margin: 0px 135px;
    border-radius: 20px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
}
.sb-son1 , .sb-son2{
    width: 50%;
    padding: 40px 54px;
}
.sb-son2{
    padding: 30px;
}
.sb-img{
    margin-left: 75px;
    border-radius: 20px;
    width: 310px;
    height: 260px;
}
.sb-head{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    line-height: 120%;
    text-align: left;
    padding-bottom: 14px;
}
/* second banner part ends */
/* Change Your Habits part ends */
/* team part starts */
.team-main{
    background: rgb(17, 17, 17);
    padding-bottom: 70px;
}
.team-head{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 42px;
        font-weight: 800;
        line-height: 120%;
        text-align: center;
    }
.team-d{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.team-container{
    border-radius: 15px;
    width: 72%;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 50px auto 0px;
    position: relative;
}
.trainer-1{
    position: absolute;
    left: 5%;
    top: 38%;
}
.trainer-2{
    position: absolute;
    top: 38%;
    left: 38%;
}
.trainer-3{
    position: absolute;
    top: 38%;
    left: 72%;
}
.trainer-4{
    position: absolute;
    top: 88%;
    left: 5%;
}
.trainer-5{
    position: absolute;
    top: 88%;
    left: 38%;
}
.trainer-6{
    position: absolute;
    top: 88%;
    left: 72%;
}
.trainer-head{
    color: white;
    font-weight: 900;
    font-family: Inter;
    font-size: 18px;
    text-align: left;
}
.trainer-d{
    color: whitesmoke;
    font-weight: 400;
    font-family: Inter;
    font-size: 9px;
    text-align: left;
}
.team-son1 , .team-son2 {
    display: flex;
    justify-content: center;
}
.team-son1 > img{
    padding: 15px 15px 0px 15px;
}
.team-son2 > img{
    padding: 15px 15px 15px 15px;
}
.team-son1 > img ,.team-son2 > img {
    width: 33%;
    border-radius: 22px;
}
#img-team{
    padding-right: 0px;
}
/* team part ends */
/* unique part starts  */
.optional-main{
    background: rgb(17, 17, 17);
    opacity: 0.8;
    padding: 30px;
}
.optional-head{
    margin: 0px 30px;
    text-align: center;
    color: aliceblue;
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    padding: 9px;
    background-color: black;
}
.optional-d{
    color: whitesmoke;
    padding: 20px;
    padding-bottom: 30px;
    background-color: black;
    text-align: justify;
    line-height: 150%;
    margin: 0px 30px;
    font-family: Inter;
    font-size: 30;
    font-weight: 500;
}
.head-main{
    color: rgb(230, 83, 60);
}
/* unique part ends */
/* footer start */
.footer-main{
    background: rgb(17,17, 17, 0.9);
}
.footer-first-class{
    display: flex;
    margin: 0px 115px 60px 115px;
    padding-top: 55px;
}
.ft-son1{
    width: 50%;
}
.ft-son2 , .ft-son3 {
    width: 25%;
}
.ft-son1-head{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 120%
    margin: 15px 0px;
}
.ft-son1-d{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 10px;
    line-height: 120%;
    font-weight: 400;
    margin: 17px 0px;

}
.ft-son2-head , .ft-son3-head {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 26px;
    font-weight: 600;
    line-height: 110%;
    margin: 20px 0px;
}
.ft-son2-d , .ft-son3-d{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.ft-son2-d > p , .ft-son3-d > p {
    padding-bottom: 15px;
}
.footer-last-class{
    text-align: center; 
}
.footer-last{
    border-top: 2px solid
    rgba(255, 255, 255, 0.1);
    margin: 0px 115px;
}
.footer-son2{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
}
/* footer ends */